.messages-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
    height: calc(100dvh - 170px);
}

.messages-container .message-users {

    border-radius: 5px;
    padding: 15px;

    box-shadow: 0 0 1px 1px rgba(199, 199, 199, 0.75);
    -webkit-box-shadow: 0 0 1px 1px rgba(199, 199, 199, 0.75);
    -moz-box-shadow: 0 0 1px 1px rgba(199, 199, 199, 0.75);

    background: var(--lightes-gray);

    overflow-y: auto;
}

.messages-container .message-conversation {
    position: relative;
    border-radius: 5px;

    box-shadow: 0 0 1px 1px rgba(199, 199, 199, 0.75);
    -webkit-box-shadow: 0 0 1px 1px rgba(199, 199, 199, 0.75);
    -moz-box-shadow: 0 0 1px 1px rgba(199, 199, 199, 0.75);

    background: var(--white);
    overflow-y: auto;
}

.message-users-search-input input {
    padding-left: 40px !important;
}

.message-users-search-input .search-icon {
    position: absolute;
    top: 9px;
    left: 8px;
    color: var(--gray);
}

.chat-members-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-members-list .user-typing {

}


.chat-members-list .chat-member {
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: var(--white);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: var(--lightes-blue);
        box-shadow: 0 0 1px 1px rgba(199, 199, 199, 0.75);
        -webkit-box-shadow: 0 0 1px 1px rgba(199, 199, 199, 0.75);
        -moz-box-shadow: 0 0 1px 1px rgba(199, 199, 199, 0.75);
    }
}

.chat-members-list .chat-member.active {
    background-color: var(--green-light);
}

.chat-members-list .chat-member .message-member-avatar {
    position: relative;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.chat-members-list .chat-member .message-member-avatar .avatar {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.chat-members-list .chat-member .message-member-avatar .badge {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 1px var(--white);
    background: var(--green);
}

.message-conversation {

    display: flex;
    flex-direction: column;
    height: 100%;
}

.message-conversation .send-message-container {
    margin-top: auto;
    padding: 10px;
    width: 100%;
}

.message-conversation .send-message-container .input-row {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 40px;
    gap: 10px;
    align-items: center;
}

.message-conversation .send-message-container .input-row button {
    padding: 0;
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    justify-content: center;
    border-radius: 5px;
}

.messages-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: calc(100dvh - 230px);
    overflow-y: scroll;
}

.message-item {
    padding: 10px;
    margin: 10px;
    /*border: solid 1px var(--light-gray);*/
    border-radius: 5px;
    font-size: 14px;
    width: auto;
    transition: background-color 0.3s ease-in-out;
    display: inline-flex;
    flex-direction: column;

    /*&:hover {*/
    /*    background-color: var(--lightes-gray);*/
    /*}*/
}

.message-item .message-item-inner {
    display: flex;
    flex-direction: row;
    gap: 15px;

}

.message-item .message-item-inner .message-item-inner-info {
    border: 1px solid var(--lightes-gray);
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    background-color: var(--lightes-blue);
}

.message-item.sender .message-item-inner .message-item-inner-info {
    background-color: var(--primary-color);
    color: var(--white);
}

.message-item.sender {
    margin-left: auto;
}

.message-item .message-user-name {
    font-size: 14px;
    color: var(--primary-color);
}

.message-item .message-text {
    font-size: 16px;
    margin-bottom: 5px;
}

.message-item .message-date {
    font-size: 12px;
    color: var(--gray);
    font-weight: bold;
}

.message-item.sender .message-item-inner .message-item-inner-info .message-date {
    color: var(--white);
}


.message-item .message-item-inner .message-user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message-item.sender .message-item-inner .message-user-avatar {

}

.pulse-glow {
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.7); /* Initial transparent shadow */
    animation: glow-pulse 1s infinite; /* Apply the animation */
}

.member-unread-messages{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px;
    background-color: var(--primary-color);
    height: 18px;
    min-width: 18px;
    text-align: center;
    color: var(--white);
}

@keyframes glow-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.7); /* Starts with no visible shadow */
    }
    70% {
        box-shadow: 0 0 0 20px rgba(52, 152, 219, 0); /* Expands and fades out */
    }
    100% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0); /* Resets for next loop */
    }
}

@media (max-width: 1200px) {
    .messages-container {
        display: grid;
        grid-template-columns: 1fr;
        height: calc(100dvh - 170px);
    }

    .chat-members-list {
        flex-direction: row;
    }

    .chat-members-list .chat-member {
        background: unset;
        padding: 0;
        background: none;
    }

    .chat-members-list .chat-member {
        display: flex;
        flex-direction: row;
        gap: 15px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }
    .chat-members-list .chat-member:hover {
        background-color: unset;
        box-shadow: unset;
        -webkit-box-shadow: unset;
        -moz-box-shadow: unset;
    }

    .chat-members-list .chat-member .message-member-avatar{
        border-radius: 50%;
        width: 54px;
        height: 54px;
        border: solid 3px transparent;
        overflow: hidden;
    }
    .chat-members-list .chat-member.active .message-member-avatar{
        border: solid 3px var(--primary-color);
    }

    .chat-members-list .chat-member .message-member-name {
        display: none;
    }

    .chat-members-list .chat-member.active{
        background: none;
    }

    .message-users-search-input{
        display: none;
    }


}
@media (max-width: 1200px) {
    .messages-container {
        height: calc(100dvh - 80px);
    }

}
