.tasks-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.tasks-list .task-item {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 10px;
    gap: 5px;
    border-radius: 8px;
    font-stretch: 14px;

    box-shadow: 0px 0px 1px 0px rgba(213, 213, 213, 0.75);
    -webkit-box-shadow: 0px 0px 1px 0px rgba(213, 213, 213, 0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(213, 213, 213, 0.75);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.tasks-list .task-item:hover {
    box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.75);
}

.tasks-list .task-item h3.task-title {
    font-size: 20px;
    color: var(--primary-color);
}

.tasks-list .task-item .task-created-at {
    margin-top: auto;
    font-size: 12px;
    font-weight: bold;
    color: var(--primary-color);
    text-align: right;
}


.tasks-list .task-item .task-members {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tasks-list .task-item .task-members .task-member-item {
    display: flex;
    align-items: center;
    padding: 2px 5px;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 12px;
    border-radius: 8px;
}
