.progress-container {
    margin: 10px 0;
}

.progress {
    margin-top: 5px;
    width: 100%;
    border-radius: 3px;
    height: 7px;
    border: solid 1px var(--error-color);
    overflow: hidden;
}

.progress.red {
    border-color: var(--error-color);
}

.progress.orange {
    border-color: var(--warning-color);
}

.progress.yellow {
    border-color: var(--yellow-color);
}

.progress.green {
    border-color: var(--green);
}

.progress .progress-bar {
    background-color: var(--green);
    display: flex;
    height: 100%;
    transition: width .2s ease-in-out;
}

.progress.red .progress-bar {
    background-color: var(--error-color);
}

.progress.orange .progress-bar {
    background-color: var(--warning-color);
}

.progress.yellow .progress-bar {
    background-color: var(--yellow-color);
}

.progress.green .progress-bar {
    background-color: var(--green);
}


.progress-container span {
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
}


.notification-popup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 55px;
    padding: 15px 15px 15px 10px;
    right: 10px;
    min-height: 100px;
    border-radius: 10px;

    box-shadow: 0px 0px 3px 0px rgba(195, 195, 195, 0.75);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(195, 195, 195, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(195, 195, 195, 0.75);

    z-index: 99999;

    width: 100%;
    max-width: 200px;
    max-height: 400px;
    overflow-y: auto;
    background-color: var(--lightes-blue);
}

.notify-item {
    font-size: 12px;
    padding: 5px 10px;
    border-bottom: solid 1px var(--light-gray);
    background-color: var(--white);
    border-radius: 10px;
    cursor: pointer;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: all .2s ease-in-out;

    &:hover{
        background-color: var(--light-gray);
        display:block;
        overflow: unset;
    }
}