@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Istok Web", sans-serif;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    min-height: 100%;
}

body {
    background-color: var(--lightes-blue);
}

#wrapper {

    display: grid;
    grid-template-columns: 250px 1fr;
    transition: grid-template-columns 0.3s ease;
    height: 100vh;
}

#wrapper.minimised-sidebar {
    grid-template-columns: 50px 1fr;
}

.sidebar {
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    overflow-y: auto;
}


.sidebar .sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 60px;
    width: 100%;
    padding-left: 22px; /*10px*/
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 999;
}

.sidebar .sidebar-header img {
    height: 30px;
}

.minimised-sidebar .sidebar {
    width: 50px;
}

.minimised-sidebar .sidebar .sidebar-header {
    padding-left: unset;
    width: 100%;
    display: flex;
    gap: 0;
    justify-content: center;
}

.minimised-sidebar .sidebar .sidebar-header span {
    display: none;
}

.sidebar .sidebar-header span {
    font-size: 24px;
}

.sidebar .sidebar-nav ul {

    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.sidebar .sidebar-nav ul li {
    padding: 5px 10px;
}

.sidebar .sidebar-nav ul li div.nav-link,
.sidebar .sidebar-nav ul li a {
    display: flex;
    height: 40px;
    align-items: center;
    gap: 10px;
    padding: 15px;
    text-decoration: none;
    color: var(--gray);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.sidebar .sidebar-nav ul li div.nav-link svg,
.sidebar .sidebar-nav ul li a svg {
    color: var(--primary-color);
}

.sidebar .sidebar-nav ul li div.nav-link.active,
.sidebar .sidebar-nav ul li a.active,
.sidebar .sidebar-nav ul li div.nav-link:hover,
.sidebar .sidebar-nav ul li a:hover {
    background-color: var(--lightes-blue);
    color: var(--primary-color);
}


.minimised-sidebar .sidebar .sidebar-nav ul li {
    padding: 5px;
    position: relative;
}

.minimised-sidebar .sidebar .sidebar-nav ul li div.nav-link,
.minimised-sidebar .sidebar .sidebar-nav ul li a {
    padding: 0;
    align-items: center;
    justify-content: center;
}

.minimised-sidebar .sidebar .sidebar-nav ul li a span,
.minimised-sidebar .sidebar .sidebar-nav ul li div.nav-link span {
    /*display: none;*/
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 55px;
}

.sidebar .sidebar-nav ul li a span,
.sidebar .sidebar-nav ul li div.nav-link span {
    transition: all 0.2s ease;
}


.minimised-sidebar .sidebar .sidebar-nav ul li:hover a span,
.minimised-sidebar .sidebar .sidebar-nav ul li:hover div.nav-link span {
    display: block;
    color: var(--white);
    background-color: var(--primary-color);
    padding: 8px 10px;
    border-radius: 5px;
    visibility: visible;
    opacity: 1;
}

.main-content {

}

.main-content .content-inner {
    padding: 20px;
    position: relative;
    min-height: calc(100vh - 60px);
}

.main-header {
    background-color: var(--white);
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-header .burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40px;
    height: 40px;
    padding: 0;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-header .burger:hover {
    background-color: var(--lightes-blue);
}

.main-header .burger > div {
    width: 20px;
    /*background-color: var(--black);*/
    border: solid 1px var(--black);
    border-radius: 2px;
}

.main-header .header-notifications {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: auto;
    cursor: pointer;
}


@media (max-width: 800px) {
    #wrapper {
        grid-template-columns: 50px 1fr;
    }

    .sidebar {
        width: 50px;
    }


    .sidebar .sidebar-header {
        padding-left: unset;
        width: 100%;
        display: flex;
        gap: 0;
        justify-content: center;
    }

    .sidebar .sidebar-header span {
        display: none;
    }

    .sidebar .sidebar-nav ul li {
        padding: 5px;
        position: relative;
    }

    .sidebar .sidebar-nav ul li .nav-link,
    .sidebar .sidebar-nav ul li a {
        padding: 0 !important;
        align-items: center;
        justify-content: center;
    }

    .sidebar .sidebar-nav ul li .nav-link span,
    .sidebar .sidebar-nav ul li a span {
        display: none;
    }

}

.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-title {
    font-size: 24px;
}

.page-loading {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--lightes-blue);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.error-msg {
    color: #e65454;
    font-size: 14px;
    margin-top: 5px;

}

.success-msg {
    color: #559334;
    font-size: 14px;
    margin-top: 5px;

}

.alert {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--lightes-blue);
    color: var(--dark-gray);
    border: solid 1px var(--light-gray);
    margin-bottom: 10px;
}

.alert svg {
    display: flex;
    align-items: center;
    color: var(--dark-gray);
    margin-left: auto;
    cursor: pointer;
}

.alert.success {
    background-color: #d1e7dd;
    color: #0f5132;
    border: solid 1px #badbcc;
}

.alert.danger {
    background-color: #f8d7da;
    color: #842029;
    border: solid 1px #f5c2c7;
}

.alert.warning {
    background-color: #fff3cd;
    color: #664d03;
    border: solid 1px #ffecb5;
}

.ReactModal__Content {

}

.ReactModal__Content .close-modal {
    position: absolute;
    top: 5px;
    right: 5px;
}

.page-inner-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-gray);
}

.page-inner-loader .loader-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    animation: rotate 5s linear infinite;
}


/*Table list*/
.custom-table {
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    font-size: 16px;
    color: var(--dark-gray);
}

.custom-table th,
.custom-table td {
    padding: 10px;
    /*vertical-align: top;*/
    border: 1px solid var(--lightes-blue);
    padding-left: 15px;
}

.custom-table thead th {
    background-color: var(--white);
    font-weight: 600;
    text-align: left;
    border-bottom: 2px solid var(--lightes-blue);
}

.custom-table tbody tr:nth-child(even) {
    background-color: var(--white);
}

.custom-table tbody tr:hover {
    background-color: #e9ecef;
    transition: background-color 0.2s ease-in-out;
}

.profile-skills-list {

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.profile-skills-list .skill-item {

    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 10px;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: .7;
    }
}

.profile-skills-list .skill-item svg {
    display: none;
}

.profile-skills-list .skill-item.active {
    background-color: var(--green);
}

.profile-skills-list .skill-item.active svg {
    display: block;
}

.user-avatar {

    width: 150px;
    height: 150px;

    padding: 10px;
    border-radius: 5px;
    border: solid 1px var(--light-gray);
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    display: block;
}

.user-avatar .change-avatar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.user-avatar:hover .change-avatar {
    opacity: 1;
}

.user-avatar img {
    width: 100%;
    height: 100%;
}

/* Optional: rounded corners */
.custom-table {
    border-radius: 5px;
    overflow: hidden;
}

.custom-table.borderless th,
.custom-table.borderless td {
    border: none;
}

.custom-table td.actions {
    width: 150px;
}

.custom-table td.actions .edit-element {
    color: var(--primary-color);
}

.custom-table td.actions .delete-element {
    color: var(--error-color);
}

.custom-table td.actions > * {
    margin-right: 10px;
    cursor: pointer;

}

.popup-frez {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-frez .popup-inner .popup-message {
    font-size: 14px;
    margin-bottom: 10px;
}

.popup-frez .popup-inner {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.badges-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.badge-item {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 15px;

    box-shadow: 0px 0px 1px 0px rgba(213, 213, 213, 0.75);
    -webkit-box-shadow: 0px 0px 1px 0px rgba(213, 213, 213, 0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(213, 213, 213, 0.75);
}

.badge-item .badge-header {
    display: flex;
    flex-direction: row;
}

.badge-item .badge-header .badge-title {
    font-size: 22px;
    font-weight: bold;
}

.badge-item .badge-header .badge-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    background-color: var(--lightes-blue);
    border-radius: 10px;
    width: 40px;
    height: 40px;
}

.badge-item .badge-header .badge-icon svg {
    color: var(--primary-color);
}

.badge-item .badge-info .badge-counter {
    font-size: 32px;
    font-weight: bold;
}

.badge-item .badge-footer {
    font-size: 16px;
    color: var(--gray);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@media (max-width: 1400px) {
    .badges-list {
        grid-template-columns: 1fr 1fr 1fr;
    }

}


@media (max-width: 1100px) {
    .badges-list {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 700px) {
    .badges-list {
        grid-template-columns: 1fr;
    }

}