@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Istok Web", sans-serif;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    min-height: 100%;
}

body {
    background-color: var(--lightes-blue);
}

#wrapper {

    display: grid;
    grid-template-columns: 250px 1fr;
    transition: grid-template-columns 0.3s ease;
    height: 100vh;
}

#wrapper.minimised-sidebar {
    grid-template-columns: 50px 1fr;
}

.sidebar {
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
}


.sidebar .sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 60px;
    width: 100%;
    padding-left: 10px;
}

.sidebar .sidebar-header img {
    height: 30px;
}

.minimised-sidebar .sidebar {
    width: 50px;
}

.minimised-sidebar .sidebar .sidebar-header {
    padding-left: unset;
    width: 100%;
    display: flex;
    gap: 0;
    justify-content: center;
}

.minimised-sidebar .sidebar .sidebar-header span {
    display: none;
}

.sidebar .sidebar-header span {
    font-size: 24px;
}

.sidebar .sidebar-nav ul {

    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.sidebar .sidebar-nav ul li {
    padding: 5px 10px;
}

.sidebar .sidebar-nav ul li a {
    display: flex;
    height: 40px;
    align-items: center;
    gap: 10px;
    padding: 15px;
    text-decoration: none;
    color: var(--gray);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.sidebar .sidebar-nav ul li a svg {
    color: var(--primacy-color);
}

.sidebar .sidebar-nav ul li a.active,
.sidebar .sidebar-nav ul li a:hover {
    background-color: var(--lightes-blue);
    color: var(--primacy-color);
}


.minimised-sidebar .sidebar .sidebar-nav ul li {
    padding: 5px;
    position: relative;
}

.minimised-sidebar .sidebar .sidebar-nav ul li a {
    padding: 0;
    align-items: center;
    justify-content: center;
}

.minimised-sidebar .sidebar .sidebar-nav ul li a span {
    display: none;
}

.main-content {

}

.main-content .content-inner {
    padding: 20px;
}

.main-header {
    background-color: var(--white);
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-header .burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40px;
    height: 40px;
    padding: 0;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-header .burger:hover {
    background-color: var(--lightes-blue);
}

.main-header .burger > div {
    width: 20px;
    /*background-color: var(--black);*/
    border: solid 1px var(--black);
    border-radius: 2px;
}

.main-header .header-notifications {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: auto;
    cursor: pointer;
}


@media (max-width: 800px) {
    #wrapper {
        grid-template-columns: 50px 1fr;
    }

    .sidebar {
        width: 50px;
    }


    .sidebar .sidebar-header {
        padding-left: unset;
        width: 100%;
        display: flex;
        gap: 0;
        justify-content: center;
    }

    .sidebar .sidebar-header span {
        display: none;
    }

    .sidebar .sidebar-nav ul li {
        padding: 5px;
        position: relative;
    }

    .sidebar .sidebar-nav ul li a {
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .sidebar .sidebar-nav ul li a span {
        display: none;
    }

}

.page-loading{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--lightes-blue);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}