@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Istok Web", sans-serif;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    min-height: 100%;
}

body {
    background-color: var(--lightes-blue);
}

#wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
}

.sidebar {
    background-color: var(--white);
}

.main-content {

}

.main-content .content-inner {
    padding: 20px;
}

.main-header {
    background-color: var(--white);
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-header .burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40px;
    height: 40px;
    padding: 0;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-header .burger:hover {
    background-color: var(--lightes-blue);
}

.main-header .burger > div {
    width: 20px;
    /*background-color: var(--black);*/
    border: solid 1px var(--black);
    border-radius: 2px;
}

