:root {
    --white: #fff;
    --black: #000;
    --gray: lab(60.5129% -1.49679 -7.27124);
    --dark-gray: #3f4245;
    --light-gray: #b7c4d5;
    --lightes-blue: lab(93.02% -2.12058 -7.10671);
    --primacy-color: lab(63.3112% -5.86495 -53.8932);
    --error-color: rgb(244, 63, 94);;
    --blue: lab(37.8366% 7.03645 -56.5753);
    --green: lab(59.0978% -58.6621 41.2579);
}

.status-active {
    font-size: 14px;
    font-weight: bold;
    padding: 1px 10px;
    color: var(--green);
    border: solid 1px var(--green);

    border-radius: 10px;
}


.btn {
    height: 35px;
    display: flex;
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    padding: 0 15px;
    color: var(--black);
    font-size: 16px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 3px;
    transition: all 0.3s;
    cursor: pointer;
}

.btn.sm{
    height: 30px;
    padding: 0 15px;
    font-size: 15px;
}
.btn:hover {
    background-color: var(--primacy-color);
    color: var(--white);
}

.btn.primary {
    background-color: var(--primacy-color);
    color: var(--white);
}

.btn.primary:hover {
    background-color: var(--primacy-color);
    opacity: 0.8;
}

.btn.danger {
    background-color: var(--error-color);
    color: var(--white);
}


.btn.danger:hover {
    opacity: 0.8;
}


.input-row {
    width: 100%;
    margin-bottom: 20px;
}

.input-row input[type=text],
.input-row input[type=email],
.input-row input[type=tel],
.input-row input[type=password],
.input-row select,
.input-row input[type=number] {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid var(--light-gray);
    background-color: var(--white);
    outline: none;
    padding: 0 15px;
    font-size: 16px;
}

.input-row .btn {
    width: 100%;
}

.input-row label {
    font-weight: bold;
    font-size: 16px;
    color: var(--gray);
}


/*Margins and paddings*/

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}


.ml-auto {
    margin-left: auto;
}

/*END Margins and paddings*/