.auth-container {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
}

.auth-container .auth-form {
    position: absolute;
    padding: 20px;
    background: var(--white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;

    width: 100%;
    max-width: 500px;
}
