.members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.members .member-item {
    cursor: pointer;
    background: var(--white);
    padding: 20px;
    border-radius: 8px;

    box-shadow: 0px 0px 1px 0px rgba(213, 213, 213, 0.75);
    -webkit-box-shadow: 0px 0px 1px 0px rgba(213, 213, 213, 0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(213, 213, 213, 0.75);

    transition: box-shadow 0.3s ease-in-out;


}

.members .member-item:hover {
    box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.75);
}

.members .member-item .member-header {

    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 20px;
}


.members .member-item .member-header .member-prof-status {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 10px;
}

.members .member-item .member-header .member-prof-status .member-profession {
    color: var(--gray);
}

.members .member-item .member-header img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}


.members .member-item .member-info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.members .member-item .member-info > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.members .member-item .member-info > div span:nth-child(1) {
    color: var(--gray);
}

.members .member-item .member-info > div span:nth-child(2) {
    margin-left: auto;
}


.members .member-item .member-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.members .member-item .member-skills .member-skill {
    background: var(--blue);
    color: var(--white);
    padding: 2px 10px;
    border-radius: 3px;
    font-size: 13px;
    margin-bottom: 15px;
    text-wrap: nowrap;
}

.members .member-actions {

    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.members .member-actions .btn {
    width: 100%;
}

@media (max-width: 800px) {
    .members {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .members {
        grid-template-columns: 1fr;
    }
}