
.my-custom-drop-multiple {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.my-custom-drop-multiple-search-container {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.my-custom-drop-multiple-search-container input {
    width: auto;
    border: none;
}

.my-custom-drop-multiple .my-custom-drop-list {

    padding: 5px;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    max-height: 150px;
    overflow-y: auto;
}

.my-custom-drop-multiple .my-custom-drop-list .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px #ccc;
    padding: 5px 5px 5px 10px;
    font-size: 14px;
    background-color: var(--white);
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #f7ffe8;
    }
}

.my-custom-drop-multiple .my-custom-drop-list .list-item.selected {
    background-color: var(--lightes-blue);
}

.my-custom-drop-multiple .my-custom-drop-list .list-item svg {
    margin-left: auto;
    color: var(--green);
}

.my-custom-drop-multiple .selected-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding-left: 5px;
    margin: 5px 0;
}

.my-custom-drop-multiple .selected-items .selected-item {

    display: flex;
    font-size: 12px;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding: 2px 5px;
    border: 1px solid var(--green);
    border-radius: 5px;
}

.my-custom-drop-multiple .selected-items .selected-item svg {
    margin-left: auto;
    cursor: pointer;
}