.projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}


.projects-list .project-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background: var(--white);
    padding: 20px;
    border-radius: 8px;

    box-shadow: 0px 0px 1px 0px rgba(213, 213, 213, 0.75);
    -webkit-box-shadow: 0px 0px 1px 0px rgba(213, 213, 213, 0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(213, 213, 213, 0.75);

    transition: box-shadow 0.3s ease-in-out;

}

.projects-list .project-item:hover {
    box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.75);
}

.projects-list .project-item .project-title {
    font-size: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projects-list .project-item .project-title span{

}


.projects-list .project-item .project-title .project-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 15px;
}

.projects-list .project-item .project-title .project-tasks {
    margin-left: auto;
    color: var(--blue);
    cursor: pointer;
    transition: scale 0.2s ease-in-out;

    &:hover {
        scale: 1.2;
    }
}
.projects-list .project-item .project-title .edit-project {
    margin-left: auto;
    color: var(--primary-color);
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
    &:hover {
        scale: 1.2;
    }
}

.projects-list .project-item .project-title .delete-project {
    color: var(--error-color);
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
    &:hover {
        scale: 1.2;
    }
}

.projects-list .project-item .project-status {

    font-size: 14px;
    font-weight: bold;
    width: 100px;
    text-align: center;
    padding: 1px 10px;

    border-radius: 10px;
    margin: 10px 0;
}

.projects-list .project-item .project-status.active {
    color: var(--green);
    border: solid 1px var(--green);
}

.projects-list .project-item .project-status.pending {
    color: var(--warning-color);
    border: solid 1px var(--warning-color);
}

.projects-list .project-item .project-status.completed {
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
}

.projects-list .project-item .project-status.canceled {
    color: var(--error-color);
    border: solid 1px var(--error-color);
}

.projects-list .project-item .project-desc {
    font-size: 14px;
    line-height: 18px;
    color: var(--dark-gray);
}

.projects-list .project-item .project-created {
    font-size: 13px;
    font-weight: bold;
    color: var(--primary-color);
    text-align: right;
    margin-top: auto;
}

@media (max-width: 1400px) {
    .projects-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1100px) {
    .projects-list {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px) {
    .projects-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .projects-list {
        grid-template-columns: 1fr;
    }
}